
.novidades__titulo {
    color: var(--cor-laranja);
    background-color: var(--cor-beige);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.novidades__container {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.novidades__imagem {
    width: 100%;
    max-width: 300px;
    height: 10em;
    align-self: center;
}

.novidades__texto {
    padding: 10px;
    text-align: center;
    margin-top: 0.5em;
}

