.produtos__titulo {
    color: var(--cor-laranja);
    background-color: var(--cor-beige);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.card {
    display: flex;
    padding: 1.25em;  
}

.linha {
    margin-bottom: 0.5em;
}

.descricao__item {
    flex-direction: column;
    position: relative;
}

.descricao__item img {
    width: 42.5vh;
    max-height: 9em;
    border: 1px;
    border-radius: 24px; 
    overflow: hidden;
    transition: filter 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.descricao__item:hover img {
    filter: brightness(0.8);
}

.descricao__texto {
    color: var(--cor-laranja);
    font-weight: bold;
    position: absolute; /* Adicionada propriedade position para posicionamento absoluto */
    left: 50%; /* Centraliza o texto horizontalmente */
    top: 50%; /* Centraliza o texto verticalmente */
    transform: translate(-50%, -50%); /* Centraliza o texto completamente */
}

